# Ignore files and directories that should not be tracked by Git
build
server/node_modules

# O 'wifi_credentials.h' é um arquivo de configuração que contém as credenciais de Wi-Fi, como SSID e senha. 
# NÂO DEVE SER COMPARTILHADO PUBLICAMENTE.
wifi_credentials.h